body {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgb(163, 162, 162) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(163, 162, 162) 1px, transparent 1px);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid blue;
    width: 100vw;
}

.container .topdiv {
    border: solid red 1px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container .topdiv .Logo {
    border: solid red 1px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .topdiv .Header {
    border: solid red 1px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.container .topdiv .Description {
    border: solid red 1px;
    width: 100%;
    height: 60px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container .topdiv .Description p {
    border: solid blue 2px;
    margin: 0;
}

.container .bottomdiv {
    border: solid green 1px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.container .bottomdiv .leftdiv{
    border: solid green 2px;
    width: 49.3%; 
    height: 100%;
}

.container .bottomdiv .rightdiv {
    border: solid green 2px;
    width: 42%; 
    height: 100%;
}

.container .bottomdiv .leftdiv {
    display: flex;
    flex-wrap: wrap;
}

.container .bottomdiv .leftdiv .Title {
    width: 100%;
    height: 5%;
}

.container .bottomdiv .leftdiv .InputArea {
    width: 100%;
    height: 90%;
}

.container .bottomdiv .leftdiv .Inputs {
    border: solid blue 1px;
    width: 100%;
    height: 10%;
    display: flex;
}

.container .bottomdiv .leftdiv .Inputs .leftside, .container .bottomdiv .leftdiv .Inputs .rightside{
    border: solid blue 1px;
    width: 48%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .bottomdiv .leftdiv .Inputs .leftside {
    justify-content: right;
}
.container .bottomdiv .leftdiv .Inputs .rightside {
    justify-content: left;
}

.container .bottomdiv .leftdiv .Inputs .leftside input, .container .bottomdiv .leftdiv .Inputs .rightside input{
    height: 20px;
    width: 50px;
}

.container .bottomdiv .leftdiv .Inputs .operator {
    border: solid blue 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .bottomdiv .leftdiv .Inputs .operator p{
    border: solid red 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .bottomdiv .leftdiv .Matrix {
    border: solid blue 1px;
    width: 100%;
    height: 40%;
}
.container .bottomdiv .leftdiv .Enter {
    border: solid blue 1px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .bottomdiv .leftdiv .Enter button{
    width: 130px;
    height: 40px;
    box-shadow: 4px -1px 33px 0px rgba(0,0,0,0.40);
    -webkit-box-shadow: 4px -1px 33px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 4px -1px 33px 0px rgba(0,0,0,0.40);
    background-color: #7c3bee;
    color: white;
    border: none;
    border-radius: 7px;
}